<div>
  <div>
    <button mat-icon-button (click)="clearNotifications()">
      <mat-icon
        [matBadge]="notifCount"
        [matBadgeHidden]="notifCount == 0 ? true : false"
        matBadgeOverlap="false"
      >
        mail_outline
      </mat-icon>
    </button>
  </div>
  <div fxLayout="row">
    <button
      (click)="startReceivingNotif()"
      [disabled]="isReceivingNotif"
      mat-raised-button
      color="primary"
    >
      Start receiving
    </button>
    <button
      (click)="stopReceivingNotifs()"
      [disabled]="!isReceivingNotif"
      mat-raised-button
      color="accent"
    >
      <span class="mat-button-wrapper">Stop receiving</span>
    </button>
  </div>
</div>
