<div fxLayout="column" fxLayoutGap="24px" fxLayoutAlign="center center">
  <div>
    <button
      mat-icon-button
      (click)="clearNotifications()"
      [matBadge]="notifCount"
      [matBadgeHidden]="notifCount == 0 ? true : false"
    >
      <mat-icon> mail_outline </mat-icon>
    </button>
  </div>
  <div fxLayout="row" fxLayoutGap="8px">
    <button
      (click)="startReceivingNotif()"
      [disabled]="isReceivingNotif"
      mat-raised-button
      color="primary"
    >
      Start receiving
    </button>
    <button
      (click)="stopReceivingNotifs()"
      [disabled]="!isReceivingNotif"
      mat-raised-button
      color="accent"
    >
      <span class="mat-button-wrapper">Stop receiving</span>
    </button>
  </div>
</div>
